<?xml version='1.0' encoding='utf-8'?>
<widget id="com.netopyaplanet.knightscout" version="1.0.3" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>KnightScout</name>
    <description>
        FRC team 296: The Northern Knight's very own scouting application!
    </description>
    <author email="support@phonegap.com" href="http://phonegap.com">
        PhoneGap Team
    </author>
    <content src="index.html" />
    <access origin="*" />

    <platform name="ios">
        <icon height="1024" platform="ios" src="www/res/icon/rad_icon.png" width="1024" />
        <icon height="76" platform="ios" src="www/res/icon/rad_icon_76.png" width="76" />
        <icon height="120" platform="ios" src="www/res/icon/rad_icon_120.png" width="120" />
        <icon height="152" platform="ios" src="www/res/icon/rad_icon_152.png" width="152" />

        <edit-config target="NSCameraUsageDescription" file="*-Info.plist" mode="overwrite">
            <string>Camera access is used to scan QR codes containing scouting information</string>
        </edit-config>
    </platform>

    <platform name="android">
        <icon density="xxxhdpi" src="www/res/icon/rad_icon_192.png" />
    </platform>

    <preference name="phonegap-version" value="cli-8.1.1" />

    <plugin name="phonegap-plugin-barcodescanner" />
</widget>
