.o-page {
	display: none;
}

.o-page--full-screen {
	height: 100%;
	width: 100%;
	position: fixed;
	display: flex;
	justify-content: center;
}

.is-app-loading .navbar {
	display: none;
}

.o-action-menu [data-menu] .btn {
	width: 100%;
	padding-top: 40px;
	padding-bottom: 40px;
}

.recorded-action__delete {
	text-align: right;
}

.bootbox .modal-body {
	overflow-wrap: break-word;
}

#qr_code_display img {
	margin: 0 auto;
}

.badge-cargo {
	background-color: #f24701;
	color: #ffffff;
}

.badge-hatch {
	background-color: #edde36;
	color: #000000;
}

@media (max-width: 768px) and (min-width: 576px) {
	.strategy-cards .col-sm-4 {
		padding: 0;
	}
}

.strategy-cards .card {
	margin-bottom: 10px;
}